.header{
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-width: 18px;
}
.header__navbar-icon{
    margin-right: 5px;
}

.header__navbar-user{
    display: flex;
    padding-left: 5px;
}
.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.2);
}
.header__navbar-user-name{
    
}

.header__navbar-user-menu::before{
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 8px;
    top: -30px;
}
.header__navbar-user-menu::after{
    position: absolute;
    content: "";
    width: 65%;
    height: 20px;
    display: block;
    /* background-color: #f53e2d; */
    right: 0px;
    top: -15px;
    display: block;
}

.header__navbar-user-menu{
    position: absolute;
    width: 160px;
    padding: 8px 0px;
    list-style: none;
    background-color: var(--white-color);
    top: 140%;
    right: 0px;
    z-index: 1;
    border-radius: 2px;
    /* border: 1px solid var(--border-color); */
    box-shadow: -1px 1px 2px #ccc;
    display: none;
}
.header__navbar-user-item{

}
.header__navbar-user-item--separate{
    border-top: 1px solid rgba(0, 0, 0, 0.06);
}

.header__navbar-user-menu .header__navbar-user-item a{
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 6px 16px;
}

.header__navbar-user-menu .header__navbar-user-item a:hover{
    color: #9e9d9d;
}

.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.35rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;
}
.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover{
    cursor: pointer;
    color: rgba(255, 255, 255,0.7);
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 15px;
    background-color: #F86C5C;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);

}
.header__navbar-item a{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2){
    margin-left: 9px;
}

.header__navbar-icon{
    font-size: 1.6rem;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: flex;
    align-items: center;
    margin-left: 5px;
}


.header__navbar-item-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}

/* header qr code */
.header__qr{
 background-color: var(--white-color);
 width: 170px;
 position: absolute;
 top: 180%;
 left: 0px;
 border-radius: 2px;
 display: none;
 animation: fadeIn ease-in 0.3s;
}
.header__qr::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 20px;
    display: block;
    /* background-color: #f53e2d; */
    left: 0px;
    top: -17px;
    display: block;
}

.header__qr-img{
    width: 100%;
    padding: 2px;
}
.header__qr-apps{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}
.header__qr-link{
    margin: 2px 10px;
}
.header__qr-download-img{
    width: 65px;

}

/* header__notification */
.header__notify{
    position: absolute;
    top: 180%;
    right: 0%;
    width: 400px;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    cursor: default;
    transform-origin: calc(100% - 50px) top; /* thuộc tính làm cho animation đổ từ góc trên bên trái qua*/
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity,transfrom; /* cho trình duyệt biết là những thuộc tính nào thay đổi để trình duyệt tối ưu hơn chuyển động*/
    display: none;
    z-index: 10;
}
.header__notify::before{ /* làm mũi tên nhọn hướng lên*/
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 20px;
    top: -31px;
}
.header__notify::after{
    content: "";
    position: absolute;
    display: block;
    width: 90px;
    height: 17px;
    /* background-color: black; */
    right: 0;
    top: -17px;
}

@keyframes headerNotifyGrowth {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
    
    
}
.header__notify-header h3{
    color: #BDBDBD;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height:  40px; /*  dùng để căn giữa: cho chiều cao bằng với chiều cao thẻ chứa nó */
    user-select: none; /* thuộc tính không cho copy*/
}

.header__notify-list{
    padding-left: 0;
}

.header__notify-item{
    
}

.header__notify-item:hover{
    background-color: #F8F8F8;
}

.header__notify-item--viewed{
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link{
    display: flex;
    padding: 12px;
    width: 100%;
    
}

.header__notify-img{
    width: 45px;
    object-fit: contain;
}

.header__notify-info{
    margin-left: 12px;
}

.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    padding-bottom: 4px;
}

.header__notify-description{
    display: block;
    font-size: 1.2rem;
    color: #756f6e
}

.header__notify-footer{
    display: flex;
    width: 100%;
}

.header__notify-footer .header__notify-footer-view-all{
    color: var(--black-color);
    margin: auto;
    font-size: 1.4rem;
    padding: 15px 165px;
}

/* authen modal */
.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}
.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}
.auth-form__form{
    
}
.auth-form__group{

}
.auth-form__input{
    height: 40px;
    width: 100%;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid;
    border-color: var(--border-color);
    border-radius: 2px;
    outline: none; /* bỏ đường viền trên thẻ input khi nhấp chuột vào*/
}
.auth-form__input:focus{
    border: 2px solid #777;
}
.auth-form__aside{
    margin-top: 18px;
}
.auth-form__policy-text{
    font-size: 1.2rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}
.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__controls-back{
    margin-right: 8px;
}
.auth-form__socials{
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.auth-form__socials-icon{
    font-size: 1.8rem;
}
.auth-form__socials--facebook{
    background-color: #415E9B;
    color: var(--white-color);
}
.auth-form__socials--facebook
.auth-form__socials-icon{
    color: var(--white-color);
    background-color: #415E9B;
}
.auth-form__socials-title{
    margin: 0 24px;
}
.auth-form__socials--google{
    color: #666;
}
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-self: center;
    color: #939393;
}
.auth-form__help-separate{
    display: block;
    height: 20px;
    width: 1px;
    background-color: #f2ecec;
    margin: 0 20px;
    
}
.auth-form__help-forgot{
    color: var(--primary-color);
}
/* header-with-search */
.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}
.header__logo{
    width: 202px;
    height: 60px;
    
}

.header__logo-link{
    text-decoration: none;
    color: transparent;
}

.header__logo-img{
    width: 146px;
    height: 46px;
}
.header__search{
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
}
.header__cart{
    display: flex;
    width: 138px;
    height: 60px;

}
.header__cart-wrap{
    margin: auto;
    display: flex;
    position: relative;
    cursor: pointer;
}
.header__cart-icon{
    font-size: 2.4rem;
    color: var(--white-color);
    margin: auto;
}
.header__cart-list::before{
    content: "";
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    display: block;
    right: 2px;
    top: -32px;
    cursor: pointer;
}
.header__cart-list{
    position: absolute;
    top: calc(100% + 12px);
    right: -15px;
    width: 400px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0px 0px 5px #c0bebe;
    display: flex;
    cursor: default;
    display: none;
    flex-direction: column;
}

.header__cart-list--no_cart{
    padding: 20px 0px 20px 0px;
    flex-direction: column;
}

.header__cart-wrap:hover .header__cart-list{
    display: flex;
    animation: fadeIn ease-in 0.2s;
}
.header__cart-no_cart-img{
    width: 60%;
    margin: auto;
    display: none;
}
.header__cart-list--no_cart-msg{
    margin: 0px auto;
    margin-top: 16px;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    display: none;
}
.header__cart-list--no_cart .header__cart-no_cart-img,
.header__cart-list--no_cart .header__cart-list--no_cart-msg{
    display: block;
}

.header__cart-notice{
    font-size: 1.4rem;
    position: absolute;
    padding: 0.4px 7px;
    background-color: var(--white-color);
    color: var(--primary-color);
    border-radius: 10px;
    border: 2px solid #DD482A;
    top: calc(100% - 36px);
    left: 18px;
    font-weight: 500;
}

.header__search-input-wrap{
    flex: 1;
    position: relative;
}
.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 14px;
    border-radius: 2px;
}
.header__search-select{
    width: 120px;
    height: 26px;
    align-self: center;
    border-left: 2px solid #e4e3e3;
    display: flex;
    align-items: center;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}
.header__search-select::after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 17px;
    /* background-color: black; */
    right: 0;
    top: 25px;
}

.header__search-select-icon,
.header__search-select-lable{
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-select-lable{
    padding-right: 16px;
}
.header__search-select-icon{
    color: #adabab;
}
.header__search-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: var(--primary-color);
    border: none;
    height: 32px;
    width: 70px;
    border-radius: 2px;
    margin: 0px 4px;
}
.header__search-btn:hover{
    background-color: #ff7352;
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}
.header__search-option{
    width: 122px;
    background-color: var(--white-color);
    position: absolute;
    top: 103%;
    left: 0;
    border-radius: 2px;
    border: 1px solid #f0eeee;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    box-shadow: -1px 1px 2px #ccc;
    display: none;
}
.header__search-select:hover .header__search-option{
    display: inline-block;
}
.header__search-option-item{
    padding: 10px 8px;
    list-style: none;
    display: flex;
    cursor: pointer;
}
.header__search-option-item:hover{
    background-color: #fafafa;
}
.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    padding-right: 20px;
}
.header__search-option-item i{
    font-size: 1.4rem;
    color: var(--primary-color);
    display: none
}
.header__search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history{
    display: inline-block;
}
/* search history */
.header__search-history{
    background-color: var(--white-color);
    position: absolute;
    top: calc(100% + 4px);
    left: 0px;
    width: calc(100% - 16px);
    border-radius: 2px;
    border: 1px solid #f7f6f6;
    box-shadow: 0px 1px 3px #777;
    display: none;
}
.header__search-history-heading{
    margin: 10px 12px;
    font-size: 1.4rem;
    color: #bab9b9;
    font-weight: 400;
    cursor: default;
}
.header__search-history-list{
    padding-left: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}
.header__search-history-list-item{
    height: 38px;
    list-style: none;
    padding: 0px 12px;
    display: flex;

}
.header__search-history-list-item:hover{
    background-color: #fafafa;
}
.header__search-history-list-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    align-self: center;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
}
.header__search-history-list-item a span{
    align-self: center;
}

.header__cart-heading {
    margin: 12px 0px 12px 12px;
    font-size: 1.4rem;
    color: #999;    
    font-weight: 400;
}
.header__cart-list-item{
    list-style: none;
    padding-left: 0px;
     margin: 0px;
}
.header__cart-item {
    display: flex;
    align-items: center;
}
.header__cart-img {
    width: 40px;
    height: 40px;
    margin: 12px;
    border: 1px solid #e8e8e8;
} 
.header__cart-item-info {
 width: 100%;

} 
.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 12px;
} 
.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0px;
} 
.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
} 
.header__cart-item-multiply {
    font-size: 0.9rem;
    color: #757575;
    margin: 0px 6px;
} 
.header__cart-item-quantity {
    font-size: 1.2rem;
    color: #757575;
} 
.header__cart-item-body {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-right: 12px;
} 
.header__cart-item-description {
    font-size: 1.2rem;
    font-weight: 300;
    color: #757575;
} 
.header__cart-item-remove {
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
}
.header__cart-item-remove:hover {
    color: var(--primary-color);
}
.btn-wrap{
    width: auto;
    height: auto;
    margin: 12px;
    display: flex;
    justify-content: flex-end;
}
.btn--primary:hover {
    background-color: #f97254;
}

/* app__container */
.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 30px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}
.category__heading {
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 16px 16px;
    border-bottom: 1px solid rgba(0,0,0,0.06);
    margin: 0px;
    margin-bottom: 10px;
}
.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
}
.category-list {
    list-style: none;
    padding: 0px 0px 6px 0px;
    padding-left: 10px;
}
.category-item {
    
}
.category-item--active .category-item__link{
    color: var(--primary-color);
}
.category-item--active .category-item__link::before{
    content: "";
    border-width: 4px 4px;
    border-style: solid;
    border-color: transparent transparent transparent var(--primary-color);
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
}

.category-item__link {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 8px 16px;
    display: block;
    right: 0px;
    transition: right linear 0.1s;
}

.category-item__link:hover {
    color: var(--primary-color);
    right: -4px;
}

/* home short filter */
.home-filter {
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    padding: 14px 20px;
    border-radius: 2px;
}
.home-filter__label {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 4px;
}
.home-filter__btn {
    min-width: 90px;
    margin-left: 12px;
    
}
.home-filter__page {
    display: flex;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    margin-right: 22px;
}
.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    display: flex;
}
.home-filter__page-btn {
    display: inline-block;
    padding: 7px 13px;
    background-color: var(--white-color);
    text-decoration: none;
    border-radius: 2px;
    /* border: 0.1px solid #E2E2E2; */
    box-shadow: 1px 2px 2px #E2E2E2;
}
.home-filter__page-btn:nth-child(2) {
    margin-left: 1px;
}
.home-filter__page-btn i {
    font-size: 1.3rem;
    color: var(--text-color);
    padding-top: 4px;
}

.home-filter__page-btn--disabled {
    background-color: #f9f9f9;
}
.home-filter__page-btn--disabled i{
    color: #CDCDCD;
}

/* product item  */
.home-product-item {
    background-color: var(--white-color);
    margin-top: 10px;
}

.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain; /*khi bức ảnh to quá hay lớn quá khi thêm thuộc tính này nó sẽ co khít lại*/
    background-position: center; /*luôn cho ảnh ở giữa khung hình khi ảnh quá to*/
}
.home-product-item__title{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 36px;
    margin: 10px;
    overflow: hidden;
    /* tạo dấu ba chấm trên dòng số 2 của tiêu đề khi tiêu đề quá dài*/
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.home-product-item__price{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.home-product-item__price-old{
    margin-right: 6px;
    font-size: 1.3rem;
    color: #A3A3A3;
    text-decoration: line-through;
}
.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
}
.home-product-item__action{
    margin: 0px 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.home-product-item__like{

}
.home-product-item__like-icon-empty,
.home-product-item__like-icon-fill {
    font-size: 1.1rem;
}
.home-product-item__like .home-product-item__like-icon-fill {
    display: none;
    color: red;

}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
    
}
.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}
.home-product-item__rating {
    margin-left: auto;
}
.home-product-item__rating i{
    font-size: 0.8rem;
    color: #A3A3A3;
}
.home-product-item__rating .home-product-item__star--yellow {
    color: #FFCE3D;
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: #323232;
    margin-left: 5px;
    font-weight: 400;
}

.home-product-item__origin{
    margin: 0px 10px;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
}

.home-product-item__brand,
.home-product-item__origin-name{
    font-size: 1.2rem;
    color: #6d6d6d;
}
.home-product-item__favorite{

}
.home-product-item__sale-off{

}
.home-product-item__sale-off-percent{

}
.home-product-item__sale-off-lable{

}